<div class="container" id= "show-page">
  <h1><%= @cocktail.name.capitalize  %></h1>
  <br>
  
  <div class="recipe-img">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  
  
  <ul class="recipe-list">
    <% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> 
      <%= dose.ingredient.name.capitalize %>
      <%= link_to "ðŸ—‘", dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %>
  </li>
<% end %>
  </ul>
  
  <div class="btn-dose">
    <%= link_to "Add an ingredient ðŸ¾", new_cocktail_dose_path(@cocktail), class: "btn btn-gradient-blue"  %>
  </div>
  
  
  <br>
  <div class="back">
    <%= link_to "ðŸ”™", cocktails_path  %>
  </div>
</div>

